<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    @include('portal.partials.breadcrumb')
    <h1>Customer Index</h1>
  </div>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
</div>
