@layout('layouts.form-layout')
@section('content')

<div style="margin: 40px 0;">
  <section class="checkout">
    <div class="container">
      <div class="row">
        <form action="" method="post">
          <div class="col-sm-12 col-md-6">
            <div class="title">
              <h2>Billing Details</h2>
            </div>
            <ul class="nav nav-pills nav-wizard" role="tablist">
              <li class="active"><a href="#quote" data-toggle="tab">Quote</a></li>
              <li><a href="#addons" data-toggle="tab">Addons</a></li>
              <li><a href="#options" data-toggle="tab">Options</a></li>
              <li><a href="#freight" data-toggle="tab">Freight</a></li>
              <li><a href="#complete" data-toggle="tab">Complete</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="quote">
                <div class="billing" style="margin-top: 10px;">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="col-sm-12">
                        <div class="form-grp">
                          <label>Building Width<span>*</span></label>
                          <input id="bldg_width" placeholder="e.g. 40'" type="number" name="bldg_width">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-grp">
                          <label>Building Length<span>*</span></label>
                          <input class="form-control" id="bldg_length" placeholder="e.g. 60'" type="number" name="bldg_length">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-grp">
                          <label>Building Height<span>*</span></label>
                          <input id="bldg_height" placeholder="e.g. 14'" type="number" name="bldg_height">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-grp">
                          <label>Roof Pitch<span>*</span></label>
                          <input id="roof_pitch" placeholder="e.g. 2:12" type="text" name="roof_pitch">
                        </div>
                      </div>
                      <div class="col-sm-3 col-sm-offset-9">
                        <div class="form-group">
                          <button class="btn btn-primary pull-right" type="button" name="button">Next</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="addons">
                <div class="billing" style="margin-top: 10px;">
                  <div class="row">
                    <div class="col-sm-12 addon">
                      <div class="form-grp">
                        <div class="col-sm-9">
                          <label>Overhead Doors<span>*</span></label>
                          <select id="overhead_door" name="overhead_door">
                            <option value="test1">Test1</option>
                            <option value="test2">Test2</option>
                            <option value="test3">Test3</option>
                            <option value="test4">Test4</option>
                          </select>
                        </div>
                        <div class="col-sm-3">
                          <label>Quantity</label>
                          <input type="number" name="overhead_quant" placeholder="0">
                        </div>
                        <div class="col-sm-12">
                          <input type="checkbox" name="overhead_insulation">
                          <label>Insulated?</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 addon">
                      <div class="form-grp">
                        <div class="col-sm-9">
                          <label>Man Doors<span>*</span></label>
                          <select id="man_door" name="man_door">
                            <option value="test1">Test1</option>
                            <option value="test2">Test2</option>
                            <option value="test3">Test3</option>
                            <option value="test4">Test4</option>
                          </select>
                        </div>
                        <div class="col-sm-3">
                          <label>Quantity</label>
                          <input type="number" name="man_door_quant" placeholder="0">
                        </div>
                        <div class="col-sm-12">
                          <input type="checkbox" name="man_door_insulation">
                          <label>Insulated?</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 addon">
                      <div class="form-grp">
                        <div class="col-sm-9">
                          <label>Windows<span>*</span></label>
                          <select id="window" name="window">
                            <option value="test1">Test1</option>
                            <option value="test2">Test2</option>
                            <option value="test3">Test3</option>
                            <option value="test4">Test4</option>
                          </select>
                        </div>
                        <div class="col-sm-3">
                          <label>Quantity</label>
                          <input type="number" name="window_quant" placeholder="0">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 addon">
                      <div class="form-grp">
                        <div class="col-sm-6">
                          <label>Roof Insulation<span>*</span></label>
                          <select id="roof_insulation" name="roof_insulation">
                            <option value="3_inch">3" R10</option>
                            <option value="4_inch">4" R13"</option>
                            <option value="6_inch">6" R19</option>
                            <option value="8_inch">8" R25</option>
                            <option value="9.5_inch">10" R32</option>
                            <option value="10_innch">12" R38</option>
                            <option value="other">Other</option>
                          </select>
                        </div>
                        <div class="col-sm-6">
                          <label>Wall Insulation<span>*</span></label>
                          <select id="wall_insulation" name="wall_insulation">
                            <option value="3_inch">3" R10</option>
                            <option value="4_inch">4" R13"</option>
                            <option value="6_inch">6" R19</option>
                            <option value="8_inch">8" R25</option>
                            <option value="9.5_inch">10" R32</option>
                            <option value="10_innch">12" R38</option>
                            <option value="other">Other</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-9">
                      <div class="form-group">
                        <button class="btn btn-primary pull-right" type="button" name="button">Next</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="options">
                <div class="billing" style="margin-top: 10px;">
                  <div class="row">
                    <div class="col-sm-12 addon">
                      <div class="form-grp">
                        <div class="col-sm-7">
                          <label>Frame Style</label>
                          <select id="frame_style" name="frame_style">
                            <option value="test1">Gable</option>
                            <option value="test2">Single Slope</option>
                            <option value="test3">Monitor/Western</option>
                            <option value="test4">Gambrel</option>
                          </select>
                        </div>
                        <div class="col-sm-5">
                          <label>Frame Coating</label>
                          <select id="frame_coating" name="frame_coating">
                            <option value="gray_oxide">Gray Oxide</option>
                            <option value="red_oxide">Red Oxide</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 addon">
                      <div class="form-grp">
                        <div class="col-sm-6">
                          <label>Wainscot <small>Color band across the base.</small></label>
                          <select id="wainscot" name="wainscot">
                            <option value="36_inch">36"</option>
                            <option value="48_inch">48"</option>
                          </select>
                        </div>
                        <div class="col-sm-6">
                          <label>Gutters/Downspouts</label>
                          <select id="gutters" name="gutters">
                            <option value="36_inch">No</option>
                            <option value="48_inch">Yes</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="col-sm-12">
                        <div class="checkbox">
                          <span>Framed Openings <small>Please describe where you would like them.</small> </span>
                          <textarea class="form-control" cols="40" rows="5" id="framed_openings" name="framed_openings"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-9">
                      <div class="form-group">
                        <button class="btn btn-primary pull-right" type="button" name="button">Next</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="freight">4</div>
              <div role="tabpanel" class="tab-pane fade" id="complete">5</div>
            </div>
          </div>
          <div class="col-md-6">
            @include('partials.your-order')
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
{{ script('./js/quote-request.js') }}
@endsection
