<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  {{ style('./portal/vendor/bootstrap/css/bootstrap.min.css') }}
  <!-- Custom fonts for this template-->
  {{ style('./portal/vendor/font-awesome/css/font-awesome.min.css') }}
  <!-- Custom styles for this template-->
  {{ style('./portal/css/sb-admin.css') }}
</head>

<body class="bg-dark">
  <div class="container">
    @if(old('notification'))
      <div class="alert alert-success">
        {{ old('notification') }}
      </div>
    @endif
    @if(old('error'))
      <div class="alert alert-danger">
        {{ old('error') }}
      </div>
    @endif
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-5">
          <h4>Create your new password</h4>
          <p>Please enter your new password and confirm it.</p>
        </div>
        <form action="/portal/forgot-password" method="POST">
          {{ csrfField() }}
          <div class="form-group">
            <input name="password" class="form-control" id="password" type="password" aria-describedby="passwordHelp" placeholder="Enter new password">
          </div>
          <div class="form-group">
            <input class="form-control" id="confirmPassword" type="password" aria-describedby="confirmPasswordHelp" placeholder="Confirm password">
          </div>
          <span id="confirmMessage"></span>
          <button class="btn btn-primary btn-block" type="submit" id="submitBtn">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  {{ script('./portal/vendor/jquery/jquery.min.js') }}
  {{ script('./portal/vendor/bootstrap/js/bootstrap.bundle.min.js') }}
  <!-- Core plugin JavaScript-->
  {{ script('./portal/vendor/jquery-easing/jquery.easing.min.js') }}
  <!-- Custome JS-->
  {{ script('./js/auth-helpers.js')}}

  <script>
    function validatePassword() {
        var newPassword = document.getElementById('pass1').value
        var minNumberofChars = 6
        var maxNumberofChars = 16
        var regularExpression  = /^[a-zA-Z0-9!@#$%^&*]{6,16}$/
        alert(newPassword); 
        if(newPassword.length < minNumberofChars || newPassword.length > maxNumberofChars){
            return false
        }
        if(!regularExpression.test(newPassword)) {
            alert("password should contain atleast one number and one special character");
            return false
        }
    }
    document.getElementById('submitBtn').addEventListener('click', function (e) {
      e.preventDefault()
      validatePassword()
    })
    
  </script>
</body>

</html>
