<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Project Portal - Great American Buildings</title>
  <!-- Bootstrap core CSS-->
  {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css') }}
  <!-- Custom fonts for this template-->
  {{ style('./vendor/font-awesome/css/font-awesome.min.css') }}
  <!-- Page level plugin CSS-->
  {{ style('./portal/vendor/datatables/dataTables.bootstrap4.css') }}
  <!-- Custom styles for this template-->
  {{ style('./portal/css/sb-admin.css') }}
  @!section('head')
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">{{ auth.user.first_name }}'s Portal</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    <!-- Sidebar Nav -->
      @include('portal.layouts.layoutPartials.portalSidebarNav')
      <!-- Top Nav -->
      @include('portal.layouts.layoutPartials.portalTopNav')
    </div>
  </nav>
  @include('portal.partials.footer')
  @!section('content')

  <!-- Logout Modal-->
  @include('portal.partials.createUserModal')
  @include('portal.partials.logoutModal')

  @!section('scripts')
</body>

</html>
