<h2> Hello {{ first_name }} </h2>
<p>
  We're emailing you to let you know that we have received your additional
  quote request for a {{ bldg_width }}x{{ bldg_length }}x{{ bldg_height }}.
  <br>
  Your assigned representative has been notified and should be
  reaching out shortly to assist with your design changes.
  <br>
  Thank you for your continued interest in Great American Buildings!
</p>
