<h2> Hello {{ name }} </h2>
<p>
  An admininistrator has reset your password. Please follow the instructions below
  to finalize the process.
  <br>
  Your temporary password is: <b id="tempPass">{{ tempPass }}</b>
  <br>
  Please sign in <a href="http://localhost:3333/portal/temp-password/">here</a> with your email and the temporary password.
  <br>
  You may change your password from the account page once you've logged in.
</p>
