<h2> Hello {{ name }} </h2>
<p>
  Welcome to the Great American Buildings' team.
  <br>
  Your username is: <b>{{ email }}</b>
  <br>
  Your temporary password is: <b>{{ password }}</b>
  <br>
  You can login at <a href="http://localhost:3333/portal/temp-password">Great American Project Portal</a>
</p>
