<h2> Hello {{ name }} </h2>
<p>
  Welcome to the Great American Buildings' content management team.
  <br>
  Your username is: <b>{{ email }}</b>
  <br>
  Your temporary password is: <b></b>
  <br>
  You can login at <a href="http://localhost:3333/portal/login">Great American Project Portal</a>
</p>
