<h2> Hello {{ name }} </h2>
<p>
  Welcome to the Great American Buildings' content management team.
  <br>
  Your username is: <b>{{ email }}</b>
  <br>
  Your temporary password is: <b>{{ password }}</b>
</p>
