
<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      @include('partials.portal.breadcrumb')
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <h1>Salesperson</h1>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

</div>